<div class="question">
  {{this.currentJoke.question}}
</div>

{{#if this.answerShown}}
  <div class="answer">
    {{this.currentJoke.answer}}
  </div>

  <button onclick={{this.nextJoke}}>
    Next Joke
  </button>
{{else}}
  <button onclick={{this.showAnswer}}>
    Show Answer
  </button>
{{/if}}
