<div>{{this.currentJoke.question}}</div>
{{#if this.answerShown}}
  <div>{{this.currentJoke.answer}}</div>
  <button onclick={{this.nextJoke}}>
    Next Joke
  </button>
{{else}}
  <button onclick={{this.showAnswer}}>
    Show Answer
  </button>
{{/if}}
